body {
    background-color: black;
    overflow: hidden;

}
circle {
    top: 500px;
}

#planet {
    fill: aqua;
    
    animation-name: orbit;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: translate(500px,500px);
        transform: rotate(360deg);
    }
  }